@import 'variables';

.TagsinputSuggestions {
  max-height: 200px;
  background: $input-background-color;
  border: solid $input-border-color;
  border-width: 0 1px 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;

  &__item {
    padding: ($tag-space-around / 2) $tag-space-around;
    color: $color-text-dark;
    cursor: pointer;

    &--selected {
      color: $suggestion-selected-color;
      background: $suggestion-selected-bg;
    }
  }
}